<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XcodeCI iPad.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>XcodeCI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6506A9C18365DF700072EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6506AC018365DF700072EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6506ADE183680A500072EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6506AFD183680A500072EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6506B14183682EA00072EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A67F9B1E1847A36D00F39138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A67F9B3D1847A36D00F39138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
